body {
  margin: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2em;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  background: #000000;
  color: #ffffff;
}

.time {
  font-size: 65px;
  font-weight: 200;
  letter-spacing: -2px;
}

.seconds {
  position: absolute;
  font-weight: 200;
  font-size: 30px;
  top: 25px;
  color: #666666;
}

.date {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.currentWeather {
  grid-column: 1/7;
  grid-area: current;
  height: 160px;
  background-color: black;
}

.day1 {
  grid-area: day1;
}
.day2 {
  grid-area: day2;
}
.day3 {
  grid-area: day3;
}
.day4 {
  grid-area: day4;
}
.day5 {
  grid-area: day5;
}
.day6 {
  grid-area: day6;
}

.week {
  height: 180px;
  font-size: 20px;
  background-color: black;
  width: 160px;
  text-align: center;
}

.hour1 {
  grid-area: hour1;
}
.hour2 {
  grid-area: hour2;
}
.hour3 {
  grid-area: hour3;
}
.hour4 {
  grid-area: hour4;
}
.hour5 {
  grid-area: hour5;
}
.hour6 {
  grid-area: hour6;
}
.hour7 {
  grid-area: hour7;
}
.hour8 {
  grid-area: hour8;
}
.hour9 {
  grid-area: hour9;
}
.hour10 {
  grid-area: hour10;
}
.hour11 {
  grid-area: hour11;
}
.hour12 {
  grid-area: hour12;
}

.hour {
  height: 30px;
  font-size: 18px;
  letter-spacing: -1px;
  background-color: black;
}

.space1 {
  grid-area: space1;
  height: 1px;
  background-color: white;
}
.space2 {
  grid-area: space2;
  height: 1px;
  background-color: white;
}

.weather-container {
  position: absolute;
  margin: 25px;
  right: 0px;
  display: grid;
  width: 500px;
  grid-template-areas:
    "current current current"
    "space1 space1 space1"
    "day1 day2 day3"
    "day4 day5 day6"
    "space2 space2 space2"
    "hour1 hour1 hour1"
    "hour2 hour2 hour2"
    "hour3 hour3 hour3"
    "hour4 hour4 hour4"
    "hour5 hour5 hour5"
    "hour6 hour6 hour6"
    "hour7 hour7 hour7"
    "hour8 hour8 hour8"
    "hour9 hour9 hour9"
    "hour10 hour10 hour10"
    "hour11 hour11 hour11"
    "hour12 hour12 hour12";
  background-color: white;
  grid-gap: 1px;
  padding: 5px;
}

.weather-container > div {
  padding: 2px;
  color: white;
}

.time-date-container {
  position: absolute;
  margin: 25px;
  left: 0px;
  display: grid;
  grid-template-areas: 400px;
  background-color: white;
  grid-gap: 2px;
  padding: 5px;
}

.time-date-container > div {
  background-color: black;
  padding: 10px 40px;
  color: white;
  text-align: center;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-top {
  text-align: start;
}
.align-bottom {
  text-align: end;
}
.align-center {
  text-align: center;
}

.currentWeatherIcon {
  position: absolute;
  top: 75px;
  right: 400px;
  z-index: 1;
}

.day1WeatherIcon {
  position: absolute;
  top: 235px;
  right: 410px;
  z-index: 1;
}

.day2WeatherIcon {
  position: absolute;
  top: 235px;
  right: 240px;
  z-index: 1;
}

.day3WeatherIcon {
  position: absolute;
  top: 235px;
  right: 75px;
  z-index: 1;
}

.day4WeatherIcon {
  position: absolute;
  top: 420px;
  right: 410px;
  z-index: 1;
}

.day5WeatherIcon {
  position: absolute;
  top: 420px;
  right: 240px;
  z-index: 1;
}

.day6WeatherIcon {
  position: absolute;
  top: 420px;
  right: 75px;
  z-index: 1;
}

.mainTemp {
  position: absolute;
  top: 30px;
  right: 260px;
  font-size: 75px;
}

.superScript {
  position: absolute;
  top: 15px;
  font-size: 20px;
}

.timeStamp {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 15px;
}

.currentHighLow {
  position: absolute;
  top: 30px;
  right: 80px;
  font-size: 30px;
}

.otherWeatherInfo {
  position: absolute;
  top: 65px;
  right: 45px;
  font-size: 20px;
}

.todo-container {
  position: absolute;
  margin: 25px;
  left: 0px;
  top: 220px;
  display: grid;
  grid-template-areas: 400px;
  max-width: 355px;
  background-color: white;
  grid-gap: 2px;
  padding: 5px;
}

.todo-container > form {
  background-color: black;
  padding: 10px;
  color: white;
}

.todo {
  position: absolute;
  top: 220px;
}

.list {
  position: absolute;
  top: 350px;
  left: 15px;
}